@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 100%, 5%);
  --clr-primary-2: hsl(0, 100%, 10%);
  --clr-primary-3: hsl(0, 100%, 15%);
  --clr-primary-4: hsl(0, 100%, 20%);
  /* primary/main color */
  --clr-primary-5: hsl(0, 100%, 24%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(356, 83%, 41%);
  --clr-primary-7: hsl(356, 83%, 65%);
  --clr-primary-8: hsl(356, 83%, 74%);

  /* grey */
  --clr-grey-1: hsl(160, 5%, 96%);
  --clr-grey-2: hsl(160, 5%, 89%);
  --clr-grey-3: hsl(160, 5%, 80%);
  --clr-grey-4: hsl(160, 5%, 70%);

  --clr-grey-5: hsl(160, 5%, 60%);
  --clr-grey-6: hsl(160, 5%, 49%);
  --clr-grey-7: hsl(160, 5%, 39%);
  --clr-grey-8: hsl(160, 5%, 30%);
  --clr-grey-9: hsl(160, 5%, 23%);
  --clr-grey-10: hsl(160, 5%, 16%);

  --clr-white: #fff;
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.8rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --drop-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
  --drop-shadow-red: 0 8px 10px -10px rgb(122, 0, 0);
  --max-width: 1170px;
  --fixed-width: 620px;

  /* Form Shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Exo", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-10);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-7);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.text-center {
  text-align: center;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.75rem 0.85rem;
  letter-spacing: var(--spacing);
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  text-align: center;
}
.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  will-change: box-shadow, transform;
}
.btn:active {
  box-shadow: var(--clr-primary-1) 0 3px 7px inset;
  transform: translateY(2px);
}

.title {
  text-align: center;
}
.title .underline {
  width: 12rem;
  height: 0.25rem;
  background: var(--clr-primary-6);
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}
.page-100 {
  min-height: calc(100vh - 10rem);
  padding: 8rem 0;
}
.page {
  min-height: calc(100vh - 5rem);
}
